.connect {
    text-align: center;
    &__title {
        font-size: 3rem;
        margin-bottom: 35px;
        font-weight: bold;
    }
    &__notice {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 60px;
        span {
            color: $primary-color;
        }
    }
    &__list {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }
    &__item {
        width: calc(25% - 22.5px);
    }
}
