.banner{
    padding-top: 150px;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    &__heading { 
       font-weight: 600;
       font-size: 4.5rem;
       margin-bottom: 20px;
       color:$text-color;
    }
    &__desc{ 
        margin-bottom:20px;
        font-size: 1.8rem;
    }
}