.banner {
    padding-top: 15rem;
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
    &__heading {
        font-weight: 600;
        font-size: 4.5rem;
        margin-bottom: 2rem;
    }
}