.banner {
    padding-top: 15rem;
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
    &__heading {
        font-weight: 700;
        font-size: 6rem;
        margin-bottom: 2rem;
    }
    &__desc {
        font-size: 1.8rem;
        font-weight: 300;
        margin-bottom: 4rem;

    }
    &__btn {
        cursor:pointer;
        font-size: 1.6rem;
        outline:none;
        text-align: center;
        color:$text-color;
        padding:2rem 3rem;
        border:0;
        display: inline-block;
        background-color: transparent;
    }
    &__bottom {
        &--border {
            border:1px solid currentColor;
        }

    }
}