*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
 
html,
body {
    height: 100%;
    font-size: 62.5%;
}
a {text-decoration: none;}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    outline: none;
    border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}
.wrapper {
    width: 1440px;
    margin: 0 auto;
}
.container {
    max-width: 1210px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin:0 auto;
}
