*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-size: 62.5%;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    outline: none;
    border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    line-height: 1.4;

}
.wrapper { 
    max-width: 1440px;
    margin: auto ;
}
.container { 
    max-width: 1210px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
.btn {
    cursor: pointer;
    outline: none;
    text-align: center;
    font-size: 1.6rem;
    color: $text-color;
    display: inline-block;
    padding: 15px 30px;
    border: 0;
    background-color: transparent;
    &--border {
        border: 1px solid currentColor;
    }
    &--rounded {
        border-radius: 50px;
    }
    &--primary {
        background-color: $primary-color;
        &.has-shadow {
            box-shadow: 0 10px 35px -5px $primary-color;
        }
    }
}
