.category {
    padding-bottom:20rem;
    &__list{
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap:0 30px;
    }
    &__item {
        padding:2.5rem;
        background-color: red;
        border-radius: 20px;
    }
    &__image {
        border-radius: inherit;
        height: 23rem;
        width: 100%;
        object-fit: cover;
        margin-bottom: 4rem;
    }
    &__name {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__details {
        color : #c6cad7;
        font-size: 1.4rem;
        i {
            margin-left:1.5rem;
        }
    }
}