.category {
    padding-bottom:20rem;
    &__list{
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap:0 30px;
    }
    &__item {
        padding:2.5rem;
        background-color: #fff;
        border-radius: 20px;
    }
    &__image {
        border-radius: inherit;
        height: 23rem;
        width: 100%;
        object-fit: cover;
    }
}