.category {
    &__list {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        width: calc(25% - 22.5px);
        padding:25px;
        background-color: #fafafa;
    }
}