.connect {
    text-align: center;
    &__title {
        font-size: 3rem;
        margin-bottom: 35px;
        font-weight: bold;
    }
    &__notice {
        font-size: 1.8rem;
        font-weight: bold;
    }
}