.feature {
    padding-top: 180px;
    &__item {
        display: flex;
        align-items: center;
    }
    &__image,&__info {
        width: 50%;
    }
    &__info {
        margin-left: 30px;
    }
}