.feature {
    padding-top: 180px;
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 150px;
        &:nth-child(odd) {
            .feature__info {
                padding-left: 100px;
            }
        }
        &:nth-child(even) {
            flex-direction: row-reverse;
            .feature__info {
                padding-right: 100px;
            }
        }
    }
    &__image,&__info {
        width: 50%;
    }
    // &__info {
    //    padding-left: 100px;
    // }
    &__heading {
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 25px;
    }
    &__desc {
        font-weight: 300;
        font-size: 1.4rem;
        color:$desc-color;
        margin-bottom: 40px;
        line-height: 1.8;
    }
    &__list{
        & .feature__item {
            font-weight: 600;
            margin-bottom: 30px;
            text-decoration: underline;
            font-size: 2rem;
            color:$text-color;
            &--circle {
                text-decoration: none;
                position: relative;
                padding-left: 50px;
                &::before {
                    content: "";
                    left: 0;
                    top: 0;
                    width: 20px;
                    height: 20px;
                    border-radius: 30px;
                    background-color: rgb(255,106,225);
                    position: absolute;

                }
            }

        }
    }
}