.feature {
    padding-top: 180px;
    &__item {
        display: flex;
        align-items: center;
    }
    &__image,&__info {
        width: 50%;
    }
    &__info {
        margin-left: 100px;
    }
    &__heading {
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 25px;
    }
    &__desc {
        font-weight: 300;
        font-size: 1.4rem;
    }
}