.footer {
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width:25%;
    }
    &__link {
        color:$text-color;
        font-size: 1.4rem;
        display: block;
        margin-bottom: 32px;
    }
}