.header {
  &__logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: $text-color;
  }
  &__text {
    color: $primary-color;
  }
  &__inner {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  &__menu-list {
    display: flex;
    align-items: center;
    color: $text-color;
  }
  &__menu-item {
    margin-left: 40px;
  }
  &__menu-item:last-child {
    margin-left: 70px;
  }
}
