.partner {
    max-width: 830px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 190px;
    &__title{
        font-size: 3rem;
        font-weight: bold;
        color:$text-color;
        padding-bottom: 70px;
        margin-bottom: 70px;
        border-bottom: 1px solid currentColor;
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}