.partner {
    max-width: 830px;
    text-align: center;
    margin: 0 auto;
    &__title{
        font-size: 3rem;
        font-weight: bold;
        color:$text-color;
        padding-bottom: 70px;
        margin-bottom: 70px;
        border-bottom: 1px solid currentColor;
    }
}