

@media screen and(max-width:1023px) {
   .banner{
    padding-top: 50px;
    padding-bottom :50px;
    &__heading {
         font-size: 4rem;
    }
   }
}


@media screen and(max-width:767px) {
  .header__menu {
    display: none;
  }
}
