.subscribe {
    padding-top: 190px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__title,&__info{
        width: 50%;
    }
    &__title {
        font-size: 2rem;
        font-weight: bold;
        max-width: 430px;
    }
    &__form {
        background-color: #f2f1f6;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__input {
        background-color: transparent;
        font-family: "Poppins";
        font-size: 1.4rem;
    }
    &__button {
        background-color: transparent;
        cursor: pointer;
        font-family: "Poppins";
        font-size: 1.4rem;
        
    }
}