.subscribe {
    padding-top: 190px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__title,&__info{
        width: 50%;
    }
    &__title {
        font-size: 2rem;
        font-weight: bold;
        max-width: 430px;
    }
}